<div class="face-snap-card" [ngClass]="{ snapped:isSnap }">
  <h2>{{ faceSnap.title | titlecase}}</h2>
  @if (faceSnap.location) {
  <p>Localisation :{{ faceSnap.location }}</p>
  }@else {
  <p>Localisation non specifier </p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description  }}</p>
  <p>Cree le : {{ faceSnap.createdAt | date : "dd MMMM yyyy" }}</p>
  <p><button (click)="onSnap()">{{snapButton}}</button>
  <span [ngStyle]="{ color:'rgb(0,'+ faceSnap.snaps +',0)'}">{{ faceSnap.snaps }}</span></p>
  </div>